.titulo{
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .selecionar{
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .tabela{
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }